html {
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

*, *:before, *:after {
    box-sizing: inherit;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    padding-top: 10px;
}

p {
    padding: 10px;
}

header h1 {
    padding:10px;
    font-size: 35px;
}

header h2 {
    padding: 10px;
    font-size: 25px;
}

.questions h2 {
    font-size: 25px;
}

.answers {
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    margin-top: 15px;
    align-items:flex-start;
}


.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    padding-top: 3%;
}

.timer-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 40px;
}